<% include header %>

    <div class="container">
        <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" name="campground[name]" value="<%= campground.name %>" id=" formGroupExampleInput
                    " placeholder="Name ">
            </div>
            <div class="form-group ">
                <label for="formGroupExampleInput2 ">Image</label>
                <input type="text " class="form-control " name="campground[image]" value="<%= campground.image %>" id="formGroupExampleInput2" placeholder="Image">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    <% include footer %>
        <!-- <h1>EditCampground</h1>
<a href="/">Home</a>
<form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
    <input type="text" name="campground[name]" value="<%= campground.name %>">
    <input type="text" name="campground[image]" value="<%= campground.image %>">
    <button type="submit">Update Campground</button>
</form> -->