<% include header%>


        <div class="col-sm-9 padding-right">
            <div class="product-details">
                <!--product-details-->
                <div class="col-sm-5">
                    <div class="view-product">
                        <img src="<%= campground.image %>" alt="" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="product-information">
                        <!--/product-information-->
                        <h2>
                            <%= campground.name %>
                        </h2>
                        <p>Web ID: 1089772</p>
                        <span>
                            <span>US $59</span>
                        </span>
                        <p>
                            <b>Availability:</b> In Stock</p>
                    </div>
                    <!--/product-information-->
                </div>
            </div>
            <!--/product-details-->
            <div class="category-tab shop-details-tab">
                <!--category-tab-->
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#details" data-toggle="tab">Details</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="details">
                        <div class="col-sm-12">
                            <p>
                                <%- campground.description %>
                            </p>
                            <a href="/campgrounds/<%= campground.id %>/edit">
                                <button type="button" class="btn btn-default pull-right">Edit</button>
                            </a>
                            <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-default pull-right">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/category-tab-->
        </div>

        <% include footer%>