<% include header%>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                        aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                        aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                        aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                        aria-controls="settings">Settings</a>
                </div>
            </div>
            <div class="col-9">
                <% campgrounds.forEach(function(campground){ %>
                    <h1>
                        <%= campground.name %>
                    </h1>
                    <img src="<%= campground.image %>">
                    <div>
                        <%- campground.description %>
                    </div>
                    <a href="/campgrounds/<%= campground.id %>/edit">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </a>
                    <form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <% })  %>
            </div>
        </div>
    </div>
    <% include footer %>